<div style="height: 100vh; width: 100%; background-color: black;" class="outer">

    <img src="../../assets/images/exam.png">
            
    <div class="banner">
      <div style="text-align: center;">
    <p class="b1">Online Exam System</p>
    <p class="b2">"Some quote on studies or placement"</p>
    </div>
    </div>
            <div class="login">
    
                <div style="width: 100%; text-align: center;" class="innerlogin">
                <p>Login to Portal</p></div>
    
                <div class="inform">
    
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <a href="#">Forgot Password?</a>
                        </div>
                        <div style="text-align: center;">
                        <button class="but" type="submit">Login</button>
                        </div>
                        <div style="text-align: center; margin-top: 10px;">
                        <a routerLink="../register">Don't have an account? Register Here!!</a>
                        </div>
                      </form>
                </div>
            </div>        
        </div>
    
    
    