body{
    margin: 0%;
    padding: 0%;
}

.outer{
    overflow: hidden;
    background-image: url('bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    float: right;
    margin-top: 15%;
    margin-right: 1%;
    width: 400px;

}
.banner{
    margin-top: 5%;
    float: right;
    text-align: center;
    margin-right: -130px;
}
.b1{
    color: white;
    font-size: 70px;
    font-weight: bold; 

}
.b2{

    font-size: 30px;
    font-weight: bold;
    margin-top: -30px;
    color: white;
}
.login{
    width:30%;
    margin-left: 3%;
    height: 80%;
    float: left;

    margin-top: 5%;
    position: absolute;
    z-index: 100;
    background-color:rgb(238, 237, 234);
    overflow: hidden;
    border-radius: 30px;
}
.innerlogin p{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 500;
}
.inform{
    margin-top: 15%;
    width: 70%;
    margin-left: 15%;
}

form label{
    color: black;
    font-weight: 600;
}

.but{
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.but:hover{
    background-color: black;
    color: white;
}
